* { box-sizing: border-box;
  }

#memory-game {
  overflow: hidden;
  margin-left: 30%;
  margin-top: 5%;
  width: 50%;
  height: 80%;
}

.carta {
  background-color: red;
  overflow: hidden;
  margin: 0.1%;
  width: 25%;
  height: 25%;
  float: left;
  z-index: 1;
}

img {
  width: 100%;
  height: 100%
}
